<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <activity
            android:name=".MotionActivity"
            android:exported="false" />
        <service android:name=".MotionService"
            android:exported="true">
        </service>
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".RestartAlarmReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>